#red{
    color: red;
}

#blue{
    color: blue;
}

#red{
    color: red;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

.color-title{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 1em;
}